* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background: url('img/background.jpg') center/cover no-repeat;
  padding: 5px;
}

.logo__top {
  display: flex;
  justify-content: center;
  height: 111px;
  left: 50px;
  margin-top: 50px;
  filter: drop-shadow(2px 3px 2px rgba(20, 20, 20, 1)) opacity(30%);
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.form__header {
  color: #fff;
  font-size: 32px;
  font-family: Tit;
}
